#invoiceTemplate {

    .caboodle-card-header {
        padding: 30px;
        color: $white;
        background-color: $primary-medium;
    }
    
    .caboodle-card-body {
        padding: 30px;

        p {
            margin-bottom: 5px;
        }
    }
    
    .order-information {
        background-color: $grey-10;
        padding: 15px 10px;
        border-radius: 6px;
        color: $grey-80;

        .text-value {
            color: $grey-100;
        }

        hr {
            margin: 10px 0;
        }
    }

    .caboodle-table {
        tbody {
            tr {
                td {
                    .image {
                        .img {
                            max-height: 100%;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}
